body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica-Neue, sans-serif;
  font-weight: bold;
  color: white;
}

.tasksContainer {
  display: flex;
  justify-content: center;
}

.tasks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: #FFF;
  text-decoration: none;
}

.customInput {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica-Neue, sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #202020;
  padding: 12px;
  width: 95.5%;
  border-radius: 3px;
  font-size: 20px;
}

.customInput:focus {
  outline: none;
}
